{% extends "base.twig" %}

{% block pageTitle %}Разделы{% endblock %}

{% block content %}

<div class="hero-unit">
    <h1>Разделы сайта</h1>

    <p style="margin-top:20px">
    <button class="btn btn-primary" onclick="vis()"><a style="color: #ffffff;" href="javascript:vis();">Одевают</a></button>
    <button class="btn btn-primary" onclick="vis2()"><a style="color: #ffffff;" href="javascript:vis2();">Кормят</a></button>
    <button class="btn btn-primary" onclick="vis3()"><a style="color: #ffffff;" href="javascript:vis3();">Радуют</a></button>
    <div style="visibility: hidden; position: absolute;" id="diver1"><input class="btn btn-success" type="button" value="Цитрусовые"></div>
    <div style="visibility: hidden;" id="diver2">world</div>
    <div style="visibility: hidden;" id="diver3">Sasha</div>
    <script type="text/javascript">
        function vis(){
            var isp = document.getElementById('diver1');
            if(isp.style.visibility == 'hidden'){
                isp.style.visibility = 'visible';
            }
            else{
                isp.style.visibility = 'hidden';
            }
        }
        function vis2(){
            var i = document.getElementsByName['diver2'];
            if(i.style.visibility == "hidden"){
                i.style.visibility = "visible"
            }
            else{
                i.style.visibility = "hidden"
            }
        }
        function vis3(){
            var i = document.getElementsByName['diver3'];
            if(i.style.visibility == "hidden"){
                i.style.visibility = "visible"
            }
            else{
                i.style.visibility = "hidden"
            }
        }
    </script>
    </p>

</div>

{% endblock %}