{% extends "base.twig" %}

{% block pageTitle %}Одевают{% endblock %}

{% block content %}

    <div class="hero-unit">
        <h1>Одевают</h1>

        <p style="margin-top:20px">

            <h3>В разработке</h3>

        </p>
    </div>

{% endblock %}