{% extends "base.twig" %}

{% block pageTitle %}Цитрусовые{% endblock %}

{% block content %}

<div class="hero-unit">
    <h1>Цитрусовые</h1>

    <p style="margin-top:20px"></p>
</div>

{% endblock %}