{% extends "base.twig" %}

{% block pageTitle %}Цитрусовые{% endblock %}

{% block content %}

<div class="hero-unit">
    <h1>Цитрусовые</h1>

    <p style="margin-top:20px">

         <p align="center">
            <div id="swfContainer"></div>
            <br />Работа учениц 6В класса Екатерины Имановой и Василисы Лебедевой
         </p>

        <script>
            swfobject.embedSWF("img/swf/chitrus.swf", "swfContainer", "800", "600", "9.0.0");
        </script>

    </p>
</div>

{% endblock %}