{% extends "base.twig" %}

{% block pageTitle %}Экзотические фрукты.Кокос{% endblock %}

{% block content %}

<div class="hero-unit">
    <h1>Экзотические фрукты.Кокос</h1>

    <p style="margin-top:20px">

        <p class="pictRow">
            <img src="../img/cocos/image.jpg" />
            <img src="../img/cocos/image3.jpg" />
            <img src="../img/cocos/image7.jpg" />
            <img src="../img/cocos/image10.jpg" />
        </p>

        <h3 class="headerName">Что такое экзотические плоды ?</h3>
        <p align="justify">Плоды растений- это создание самой природой регуляторы кровяного давления ; ферменты, необходимые для обеспечения нормального протикания всех жизненно важных процессов в организме; минералы и витамины для питания клеток органов и тканей.Чем больше человек употребляет фруктов, тем бодрее чувствует себя, как бы впитывая в себя жизненную силу природы.</p>

        <h3 class="headerName">Кокос</h3>
        <p align="justify">Кокос – растение морских побережий, живущее на песчаных почвах. Кокосы растут на пальме (лат. — Cocos nucifera) группами по 15–20 штук, созревая в течение 8-10 месяцев. По всему миру кокосовая пальма стала распространяться из Юго-Восточной Азии. Она считается одним из 10-ти самых полезных для человека растений. Это дерево встречается во многих книгах о путешественниках, пиратах и аборигенах тропических земель, изображено на миллионах картинок, комиксов, карикатур и логотипов.Тропический гость под названием «кокос» известен каждому, даже тому, кто его не пробовал. Но мало кто знает о его полезных свойствах для организма. Он является достаточно ценным для организма человека продуктом. Мякоть и молочко очень богаты микроэлементами, они способствуют улучшению зрения восстановлению сил. Молочко кокоса отлично утоляет жажду и очень хорошо увлажняет кожу. Так же оно полезно для почек.В конце XV века спутники португальского путешественника Васко да Гамы, увидев издали увешанные плодами пальмы, приняли орехи за мордочки обезьян. Их ошибка вполне объяснима: европейцы никогда прежде не видели таких крупных орехов: их диаметр – 15-30 сантиметров, вес – 2-4 килограмма. Кстати, едва ли не самая частая причина травм на тропических островах – падение кокосовых орехов на головы островитян… Кокос или, как его иногда называют, кокосовый орех, на самом деле является не орехом, а костянкой. Это косточковый плод, подобный, например, вишне, но значительно большего размера. Наружная оболочка пронизана волокнами. Под ней находится скорлупа, затем семя, которое состоит из мясистого поверхностного слоя белого цвета (мякоть или копра) и эндосперма (кокосовое молоко). Кокос является средним по питательной ценности плодом. Однако, в последнее время ученые пришли к выводу, что его полезные свойства нельзя рассматривать узко. Кокос по биологической активности, конечно, не сравнится с женьшенем, но, тоже обладает рядом "тонких" свойств, оказывающих благотворное влияние на организм человека.Еще одним ценным продуктом является кокосовое масло. Оно не содержит холестерина, снижает риск атеросклероза, раковых заболеваний и дегенерационных процессов. В нем много витамина Е, который способствует нормальной функции репродукции. Кокосовое масло очень быстро усваивается. Все чаще оно стало применяться и в кулинарии.Еще издавна было замечено, что кокосовое масло долго сохранятеся, даже в открытом виде благодаря его бактерицидным свойствам. Поэтому оно повышает сопротивляемость бактериальным, вирусным и грибковым инфекциям.</p>

        <br /><h3 class="headerName">Изготовление</h3>
        <p align="justify">Для приготовления кондитерских изделий вместо 100 г маргарина или сливочного масла надо применять 75 г кокосового масла.</p>

        <br /><h3 class="headerName">Любопытный факт</h3>
        <p align="justify">В провинции Тьен Зянг среди профессиональных сборщиков кокосов можно встретить 52-летнюю Нгуен Ти Мыой Хай, взбирающуюся без страховки на 20 метровые пальмы. Таким образом она кормит свою семью и семью своего первого сына.Первый кокос она сорвала, взобравшись на пальму, когда ей было 12 лет, обидевшись на мальчиков, отказавших ей в глотке сока.
        В дельте Меконга существует небольшая религиозная секта, поклоняющаяся кокосам</p>

        <p class="pictRow">
            <img src="../img/cocos/image1.jpg" />
            <img src="../img/cocos/image4.jpg" />
            <img src="../img/cocos/image5.jpg" />
            <img src="../img/cocos/image6.jpg" />
            <img src="../img/cocos/image12.jpg" />
        </p>

        <hr>

        <p><h4 style="font-weight: normal;">Рассказ подготовила Аня Петрова и Маша Трясунова</h4></p>
    </p>
</div>

{% endblock %}