{% extends "base.twig" %}

{% block pageTitle %}Чай{% endblock %}

{% block content %}

<div class="hero-unit">
    <h1>Чай</h1>

    <p style="margin-top:20px">
    <p>
        Работа учениц 6В класса Дарьи Перегудовой и Ахалая Лауры:<br>
        <embed src="../img/swf/tea.swf"></embed><br>
        <button class="btn btn-success" onclick="window.location.href='main'">На главную</button>
        <button class="btn btn-success" onclick="window.location.href='feed'">Кормят</button>
    </p>
</div>

{% endblock %}