{% extends "base.twig" %}

{% block pageTitle %}Шоколад{% endblock %}

{% block content %}

<div class="hero-unit">
    <h1>Шоколад</h1>

    <p style="margin-top:20px">

        <h2>КАКАО-БОБЫ</h2>
        <p align="justify">Крупное дерево, в диком виде произрастающее на побережье Мексики, в тропических лесах Центральной и Южной Америки. Достигает высоты 12 м. Ветви и листья располагаются по периферии кроны, где больше света.Листья очередные, тонкие, вечнозелёные, продолговато-эллиптические, цельно-крайние.Цветы небольшие, розовато-белые, выступающие прямо из коры и крупных ветвей дерева в виде пучков.</p><br>
        <p align="justify">Основным сырьём для производства шоколада и какао-порошка являются какао-бобы — семена какао-дерева, произрастающего в тропических районах земного шара. По происхождению какао-бобы подразделяют на три группы:
            <ol style="font-size: 18px">
                <li>американские</li>
                <li>африканские</li>
                <li>азиатские</li>
            </ol>
        </p>
        <p>Какао-бобы находятся в мякоти плода какао-дерева по 30-50 шт., имеют миндалевидную форму, длину около 2,5 см. Боб состоит из твёрдого ядра, образованного двумя семядолями, зародыша (ростка) и твёрдой оболочки (какаовеллы).</p>

        <h2>ШОКОЛАД</h2>
        <p align="justify">Какао-бобы свежесобранных плодов не обладают вкусовыми и ароматическими свойствами, характерными для шоколада и какао-порошка, имеют горько-терпкий привкус и бледную окраску. Для улучшения вкуса и аромата их подвергают на плантациях ферментации и сушке.</p><br>
        <p align="justify">Шоколад — кондитерский продукт, изготавливаемый с использованием плодов какао.</p><br>
        <p align="justify">Родиной шоколада, как и дерева какао, является Центральная и Южная Америка. На протяжении многих столетий шоколад употреблялся в виде напитка — индейцы смешивали молотые и обжаренные какао-бобы с водой, а затем в эту смесь добавлялся красный перец (Чили).</p><br>
        <p align="justify">В середине XVI века ученый-монах Бенцони представил королю Испании доклад о полезных свойствах жидкого шоколада. Доклад тут же засекретили, а шоколад объявили государственной тайной. За её нарушение были казнены десятки человек. Долго шоколад был доступен только очень богатым: производство было сложным, а ингредиенты — очень дорогими. И лишь в конце XIX века кондитеры смогли добиться изготовления практически современного шоколада. А случившееся в самом начале XX века резкое удешевление какао и сахара сделало шоколад доступным всем. Рекламировавшийся как «кушанье королей», он начал свое триумфальное шествие по миру.</p><br>
        <p align="justify">Шоколаду приписывали следующие целебные свойства: лечение депрессий, улучшение самочувствия, быстрое заживление ран. В некоторых странах шоколад относили к афродизиакам.</p><br>
        <p align="justify"> 11 июля — Всемирный день шоколада. День шоколада впервые был придуман французами в 1995 году.</p>

    </p>

</div>

{% endblock %}