{% extends "base.twig" %}

{% block pageTitle %}Главная страница{% endblock %}

{% block content %}

<div class="hero-unit" xmlns="http://www.w3.org/1999/html">
        <h1>Одевают, кормят, радуют ...</h1>

        <p style=" margin-top:20px">

            <img src="img/greenworld.jpg" class="headerImg" />
            <h3 class="headerName">Растения</h3>
            <p align="justify">Растения (лат. Plantae или лат. Vegetabilia) — одна из основных групп многоклеточных организмов, включающая в себя в том числе мхи, папоротники, хвощи, плауны, голосеменные и цветковые растения. Нередко к растениям относят также все водоросли или некоторые их группы. Растения (в первую очередь цветковые) представлены многочисленными жизненными формами — среди них есть деревья, кустарники, травы, и др.</p><br />

            <h3 class="headerName">История растений</h3>
            <p align="justify">Вопрос о том, что же называть растением, выглядит не столь однозначным, как это кажется на первый взгляд. Первым на этот вопрос попытался ответить древнегреческий философ и учёный Аристотель, поместив растения в промежуточное состояние между неодушевлёнными предметами и животными. Он определил растения как живые организмы, неспособные самостоятельно передвигаться (в противоположность животным). Позднее были открыты бактерии и археи, которые никак не подпадали под общепринятое понятие растений. Уже во второй половине XX века грибы и некоторые типы водорослей были выделены в отдельные категории, поскольку не имеют сосудистой и корневой системы, которая присутствует у других растений.</p><br>

            <h3 class="headerName">Признаки</h3>
            <p align="justify"> 1. Клетки растений имеют плотные целлюлозные оболочки.<br />2. В клетках находятся зелёные пластиды — хлоропласты, в них хлорофилл, поэтому возможен фотосинтез.<br />3. В основном ведут прикреплённый образ жизни.<br />4. Запасные вещества в клетках накапливаются в виде крахмала.</p>

        </p>

    </div>

    <div class="row">
        <div class="span4">
            <h2>Одевают</h2>

            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
                euismod. Donec sed odio dui. </p>

            <p><a class="btn" href="#">Подробнее &raquo;</a></p>
        </div>
        <div class="span4">
            <h2>Кормят</h2>

            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
                euismod. Donec sed odio dui. </p>

            <p><a class="btn" href="#">Подробнее &raquo;</a></p>
        </div>
        <div class="span4">
            <h2>Радуют</h2>

            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
                fermentum massa justo sit amet risus.
            </p>

            <p><a class="btn" href="#">Подробнее &raquo;</a></p>
        </div>
    </div>

{% endblock %}