body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.hero-unit {
    padding:50px;
}

.justify {
    text-align: justify;
}

.headerImg {
    float:right;
    border:1px solid #eee;
    border-radius:10px;
    margin-left:20px;
    width:450px;
}

.navbar-inner {
    background-image: -moz-linear-gradient(top, #014308, #015c0c);
    box-shadow: 0 0 10px #000;
}

.navbar .brand, .navbar .nav > li > a {
    color:#ccc;
}


.navbar .nav .active > a,
.navbar .nav .active > a:hover {
    background-color:#006400;

}

a.main {
    background:url(school-icon.png) no-repeat 18px;
    padding-left: 60px!important;
}

.hero-unit h1, h2 {
    color: #1c4e08;
}

.nav {
    margin-bottom: 18px;
    margin-left: 0;
    list-style: none;
}

.nav > li > a {
    display: block;
}

.nav > li > a:hover {
    text-decoration: none;
    background-color: #eeeeee;
}

embed {
    width:800px;
    height:800px;
}
